<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>test</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!--    <link rel="stylesheet" href="vue-virtual-scroller/dist/vue-virtual-scroller.css"/>-->
    <!--    <script src="vue-virtual-scroller/dist/vue-virtual-scroller.min.js"></script>-->

</head>
<body>
<div id="app2" style="height: 100vh">
    <el-tabs v-model="activeName">
        <el-tab-pane label="配置" name="config">
            <el-form :model="form">
                <el-form-item label="token">
                    <el-input v-model="token" name="token" autocomplete="on"></el-input>
                </el-form-item>
                <el-form-item label="url">
                    <el-input v-model="url" name="url" autocomplete="on"></el-input>
                </el-form-item>
                <el-form-item label="转换关键字">
                    <el-checkbox v-model="need_trans">转换关键字</el-checkbox>
                </el-form-item>
                <input type="submit" @click="remember" value="保存配置"></input>
            </el-form>
        </el-tab-pane>
        <el-tab-pane label="sql执行" name="exec">
            <div style="display: flex; justify-content: space-around">
                <div style="width: 20%; ">
                    <div v-for="sql in sql_history"><a @click="this.sql=sql">{{sql}}</a></div>
                </div>
                <div style="width: 50%; display: flex;flex-direction: column">
                    <textarea v-model="sql" rows="10" autocomplete="on">
                    </textarea>
                    <div>
                        <el-button @click="searchData" type="primary" size="mini" style="float: right"> 确定</el-button>
                    </div>
                </div>
                <div style="width: 20%; ">
                    <div><span class="span_key">token: </span><span>{{token}}</span></div>
                    <div><span class="span_key">url: </span><span>{{url}}</span></div>
                    <div><span class="span_key">need_trans: </span><span>{{need_trans}}</span></div>
                    <div><span class="span_key">翻译后sql: </span><span>{{trans_sql}}</span></div>
                </div>
            </div>
        </el-tab-pane>
        <el-tab-pane label="kafka" name="kafka">
            topic:
            <el-input :data="kafka" id='kafka'></el-input>

        </el-tab-pane>
    </el-tabs>
    <el-table v-if="['exec','kafka']. indexOf(activeName)!=-1 " :data="tableData" :render-header="labelHead"
              style="height: 60%">
        <el-table-column :label="value" :property="value" :key="key" v-for="(value, key) in header"
                         :show-overflow-tooltip="true" align="center">
        </el-table-column>
    </el-table>
</div>
<script>
    // import axios from "axios";
    //
    // Vue.use(axios);

    let t = new Vue(
        {
            el: '#app2',
            data: {
                form: {},
                token: '',
                url: '',
                need_trans: true,
                sql: "",
                kafka: '',

                activeName: "exec",
                tableData: [],
                header: [],
                trans_sql: "",
                history_hset: {},
                sql_history: [],
            },
            methods: {
                remember() {
                    this.sql_history = this.to_history("sql_history", this.sql)
                    this.to_history("token", this.token)
                    this.to_history("url", this.url)
                    this.to_history("need_trans", this.need_trans)
                },
                to_history(id, data) {
                    let history_hset = JSON.parse(localStorage.getItem("history_hset"));
                    let arr = history_hset.get(id)
                    if (!arr) {
                        history_hset[id] = []
                        arr = history_hset[id]
                    }
                    if (!arr.index(data)) {
                        arr.unshift(data)
                        arr = arr.splice(0, 6)
                    }
                    localStorage.setItem("history_hset", JSON.stringify(history_hset));
                    return arr
                },
                init() {
                    this.history_hset = JSON.parse(localStorage.getItem("history_hset") || "{}")

                    this.sql_history = this.history_hset["sql_history"]
                    this.token = this.history_hset["token"][0]
                    this.url = this.history_hset["url"][0]
                    this.need_trans = this.history_hset["need_trans"][0]
                },
                trans_sql_func() {
                    this.trans_sql = this.sql

                    let tmp_sql = this.sql
                    tmp_sql = tmp_sql.toUpperCase()
                    while (tmp_sql.indexOf("FROM") != -1) {
                        let index = tmp_sql.toUpperCase().indexOf("FROM")
                        let old = tmp_sql.substring(index, index + 4)
                        tmp_sql = tmp_sql.replace(old, "fro2")
                        this.trans_sql = tmp_sql.replace(old, "fro2")
                    }
                },
                async searchData() {
                    this.remember()

                    let data = {sql: this.sql, need_trans: this.need_trans}
                    if (this.need_trans) {
                        data.sql = this.trans_sql
                    }
                    let res = await this.post(data, this.url)
                    this.tableData = res.data.data
                    let obj = this.tableData[0]
                    this.header = Object.keys(obj)
                },
                labelHead(h, {column, index}) { //动态表头渲染
                    //let l = column.label.length;
                    //let f = 12; //每个字大小,其实是每个字的比例值,大概会比字体大小打差不多大
                    //column.minWidth = f * l; //字大小乘个数即长度 ,注意不要加px像素，这里minWidth只是一个比例值，不是真正的长度
                    //然后将列标题放在一个div块中，注意块的宽度一定要100%，否则表格显示不完全
                    return h('span', {class: 'table-head', style: {width: '100%'}}, [column.label])
                },
                post(data, url) {
                    return new axios({
                            method: 'POST',
                            url: url,
                            // params: data,
                            data: data,
                            headers: {
                                Authorization: this.token,
                            }
                        }
                    )
                },
                get(data, url) {
                    return new axios({
                            method: 'GET',
                            url: url,
                            params: data,
                            headers: {
                                Authorization: this.token,
                            }
                        }
                    )
                },
            },
            watch: {
                sql() {
                    this.trans_sql_func()
                }
            }
        }
    );
</script>
</body>
<style>
    .span_key {
        display: inline-block;
        width: 6rem;
        color: blue;
        /*border: black solid 1px;*/
    }
</style>
</html>
