<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>CacheVue</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">

    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.3.5/axios.js"></script>
</head>
<body>
<div id="app">
    <div class="title">接口缓存DEMO</div>
    <div class="cache item" v-for="(item,index) in headers" :key="index">
        <div class="des">请求头Cache-Control字段设置为 {{ item.type }} {{ item.status }}</div>
        <el-button @click="submit(item)">点我发送接口请求</el-button>
        <div>
            <span class="txt">{{ item.txt }}</span>
            <span class="timestamps">{{ item.timestamps }}</span>
            <span class="timestamps" v-if="item.res ">{{ item.res.status }}</span>
        </div>
    </div>
</div>
<script>
    let v = new Vue(
        {
            el: '#app',
            data: {
                headers: [
                    {type: 'max-age=0', timestamps: ''},
                    {type: 'max-age=5', timestamps: ''},
                    {type: 'no-store', timestamps: ''},
                    {type: 'max-age=5,must-revalidate', timestamps: ''},
                    // {type: 'max-age=5,must-revalidate', timestamps: '', status: 304}, // 验证 must-revalidate 304
                    {type: 'must-revalidate', timestamps: ''},
                    {type: 'public,max-age=5', timestamps: ''},
                    {type: 'no-cache', lastModified: 'Wed, 21 Oct 2015 07:28:00 GMT', timestamps: ''},
                    {type: 'no-cache', lastModified: 'Wed, 21 Oct 2015 07:28:00 GMT', timestamps: '', status: 304},
                    {type: 'no-cache', Etag: '33a64df551425fcc55e4d42a148795d9f25f89d4', timestamps: ''},
                    {type: 'no-cache', Etag: '33a64df551425fcc55e4d42a148795d9f25f89d4', timestamps: '', status: 304},
                ]
            },
            methods: {
                async submit(row) {
                    let url = 'http://localhost:3009/has/cache';
                    let params = {
                        'Cache-Control': row.type,
                    };
                    let headers = {
                        // random: new Date().getTime()
                        // 'Cache-Control': row.type,
                    };
                    if (row.status) {
                        headers.status = row.status
                    }
                    if (row.lastModified) {
                        params.lastModified = row.lastModified
                    }
                    if (row.Etag) {
                        params.Etag = row.Etag
                    }
                    let res = await this.get(url, params, headers)
                    row.timestamps = res.data.timestamps
                    row.res = res
                },
                get(url, params = {}, headers = {}) {
                    return new axios({method: 'GET', url: url, params: params, headers: headers});
                },
                post(url, params = {}, headers = {}, data = {}) {
                    return new axios({method: 'POST', url: url, params: params, headers: headers, data: data});
                },
            },
        }
    );
</script>
</body>
<style>
    .title {
        font-size: 20px;
        width: 390px;
        text-align: center;
        margin-bottom: 20px;
    }

    .cache .txt,
    .no-cache .txt {
        display: inline-block;
        width: 269px;
        border-bottom: 1px dashed #eee;
    }

    .request-wrap .item {
        padding: 20px 0;
        border-bottom: 1px dashed #eee;
        height: 100px;
    }

    .item .timestamps {
        font-size: 26px;
        font-weight: bold;
    }

    .request-wrap .item div {
        margin: 8px auto;
    }
</style>
</html>
