<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>CacheVue</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">

    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.3.5/axios.js"></script>
</head>
<body>
<div id="app">
    <div class="title">接口缓存DEMO</div>
    <el-table :data="headers">
        <el-table-column prop="resCache" label="测试点">
            <template slot-scope="scope">
                {{ scope.row.desc  ||  scope.row.resCache }}
            </template>
        </el-table-column>
        <el-table-column label="header">
            <template slot-scope="scope">
                <div v-if="scope.row.reqCache">请求: {{ scope.row.reqCache }}</div>
                <div v-if="scope.row.resCache">返回res: {{ scope.row.resCache }}</div>
            </template>
        </el-table-column>
        <el-table-column prop="timestamps" label="timestamps"></el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button @click="submit(scope.row)">发送</el-button>
                <el-button @click="submit(scope.row, 304)">发送304</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>
<script>
    let v = new Vue(
        {
            el: '#app',
            data: {
                headers: [
                    {resCache: 'max-age=0', timestamps: ''},
                    {resCache: 'max-age=5', timestamps: ''},
                    {resCache: 'max-age=5', timestamps: '', reqCache: 'max-age=0', desc: '强制刷新, 请求携带max-age=0'},
                    {resCache: 'no-store', timestamps: ''},
                    {resCache: 'max-age=5,must-revalidate', timestamps: ''},
                    {resCache: 'max-age=5,must-revalidate', timestamps: ''}, // 验证 must-revalidate 304
                    {resCache: 'must-revalidate', timestamps: ''},
                    // {resCache: 'public', timestamps: ''},
                    {resCache: 'public,max-age=5', timestamps: ''},
                    {
                        resCache: 'no-cache',
                        lastModified: 'Fri, 15 Dec 2023 02:33:16 GMT',
                        timestamps: '',
                        desc: 'no-cache lastModified'
                    },
                    {
                        resCache: 'no-cache',
                        Etag: '33a64df551425fcc55e4d42a148795d9f25f89d4',
                        timestamps: '',
                        desc: 'no-cache Etag'
                    },
                ]
            },
            methods: {
                async submit(row, code) {
                    let url = 'http://localhost:3009/has/cache';
                    let params = {
                        'resCache': row.resCache,
                    };
                    let headers = {
                        // random: new Date().getTime()
                        // 'Cache-Control': row.resCache,
                    };
                    if (code) {
                        headers.status = code
                    }
                    if (row.reqCache) {
                        headers['Cache-Control'] = row.reqCache
                    }
                    if (row.lastModified) {
                        params.lastModified = row.lastModified
                    }
                    if (row.Etag) {
                        params.Etag = row.Etag
                    }
                    let res = await this.get(url, params, headers)
                    row.timestamps = res.data && res.data.timestamps
                    row.res = res
                },
                get(url, params = {}, headers = {}) {
                    try {
                        return axios.get(url, {params: params, headers: headers});
                    } catch (e) {
                        console.log(e);
                        return {
                            data: {}
                        }
                    }
                },
                post(url, params = {}, data = {}, headers = {}) {
                    return axios.get(url, {params: params, headers: headers, data: data});
                },
            },
        }
    );
</script>
</body>
<style>
    .title {
        font-size: 1.6rem;
        width: 20rem;
        text-align: center;
        margin-bottom: 20px;
    }
</style>
</html>
