<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask WebSocket Demo</title>

    <script src="https://cdn.bootcss.com/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
<h1>Flask WebSocket Demo</h1>
<label for="message-input">Message:</label>
<input type="text" id="message-input">
<button id="send-button">Send</button>
<div id="response"></div>

<script>
    const socket = new WebSocket('ws://localhost:5000/socket.io/?EIO=3&transport=websocket'); // 服务端提示版本不匹配;
    socket.onopen = function (event) {
        console.log("Connection established!");
        socket.send(JSON.stringify({"type": "event", "name": "message", "args": ["Hello, Server!"]}));
    };

    socket.onmessage = function (event) {
        let data = JSON.parse(event.data);
        if (data.type === 'event' && data.name === 'response') {
            document.getElementById('response').innerText = data.args[0];
        }
    };

    socket.onclose = function (event) {
        if (event.wasClean) {
            console.log('Closed cleanly, code:' + event.code + ' reason:' + event.reason);
        } else {
            console.log('Connection died'); // e.g., server process killed or network down
        }
    };

    socket.onerror = function (error) {
        console.log('WebSocket Error: ' + error);
    };

    document.getElementById('send-button').addEventListener('click', function () {
        let message = document.getElementById('message-input').value;
        socket.send(JSON.stringify({"type": "event", "name": "message", "args": [message]}));
        document.getElementById('message-input').value = '';
    });
</script>
</body>
</html>