<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>test</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">

    <!--    todo 数据库 映射 表格, 动态表单 -->

</head>
<body>
<div id="app">
    <div>
        <el-form :model="history">
            <el-form-item label="token">
                <el-input v-model="history.token" autocomplete="on" style="width: 300px;">
                </el-input>
            </el-form-item>
            <el-form-item label="url">
                <el-input v-model="history.url" autocomplete="on" style="width: 300px;"></el-input>
            </el-form-item>
            <el-form-item label="转换关键字">
                <el-radio v-model="history.need_trans" :label="1">是</el-radio>
                <el-radio v-model="history.need_trans" :label="0">否</el-radio>
            </el-form-item>
        </el-form>
    </div>
    <div style="display: flex; justify-content: center">
        <div style="width: 20%; border: #0b9ef2 solid 1px ;height: 300px">
            <div v-for="history in sql_history" style="border: aquamarine solid 1px; margin: 1px;">
                <a @click="getHistory(history)">
                    <div style=" width: 100%">{{ history.sql }}</div>
                </a>
            </div>
        </div>
        <div style="width: 50%; display: flex;flex-direction: column">
            <textarea v-model="history.sql" rows="10" autocomplete="on"> </textarea>
            <div>
                <el-button @click="trans_sql_func" type="primary" size="mini" style="float: right"> 翻译 </el-button>
                <el-button @click="searchData" type="primary" size="mini" style="float: right"> 确定 </el-button>
            </div>
        </div>
        <div style="width: 20%; ">
            <div>
                <span class="span_key">翻译后sql: </span>
                <span>{{ history.trans_sql }}</span>
            </div>
        </div>
    </div>
    <el-table :data="tableData" :render-header="labelHead" style="height: 60%">
        <el-table-column :label="value" :property="value" :key="key" v-for="(value, key) in header"
                         :show-overflow-tooltip="true" align="center">
        </el-table-column>
    </el-table>
</div>
<script>
    class History {
        constructor(url, token, sql, need_trans, trans_sql) {
            this.url = url
            this.token = token
            this.sql = sql
            this.need_trans = need_trans
            this.trans_sql = trans_sql
        }
    }

    class HistoryTable {
        static historyTable = []
        static tableName = "history_table"

        static add(rowData) {
            this.historyTable.push(rowData)
            this.save()
        }

        static save() {
            localStorage.setItem(this.tableName, JSON.stringify(this.historyTable));
        }

        static getByIndex(index) {
            this.historyTable = JSON.parse(localStorage.getItem(this.tableName))
            if (this.historyTable.length === 0) {
                return new History();
            }
            return this.historyTable[index]
        }

        static get() {
            let tableStr = localStorage.getItem(this.tableName) || "[]"
            this.historyTable = JSON.parse(tableStr)
            return this.historyTable
        }
    }

    let t = new Vue(
        {
            el: '#app',
            data: {
                tableData: [],
                header: [],
                sql_history: [
                    new History()
                ],
                history: new History()
            },
            methods: {
                remember() {
                    let rowData = new History(this.history.url, this.history.token, this.history.sql, this.need_trans, this.trans_sql);
                    HistoryTable.add(rowData)
                },
                getHistory(history) {
                    this.history = new History(history.url, history.token, history.sql, history.need_trans, history.trans_sql);
                },
                init() {
                    this.sql_history = HistoryTable.get()
                    if (this.sql_history.length > 0) {
                        let history = this.sql_history[0];
                        this.history = new History(history.url, history.token, history.sql, history.need_trans, history.trans_sql);
                    }
                },
                trans_sql_func() {
                    this.history.trans_sql = this.history.sql
                    let upperSql = this.history.sql.toUpperCase()
                    while (upperSql.indexOf("FROM") !== -1) {
                        let index = upperSql.toUpperCase().indexOf("FROM")
                        upperSql = upperSql.slice(0, index) + "__FRO2__" + upperSql.slice(index + 4)
                        this.history.trans_sql = this.history.trans_sql.slice(0, index) + "__FRO2__" + this.history.trans_sql.slice(index + 4)
                    }
                },
                async searchData() {
                    this.remember()
                    let data = {sql: this.history.sql, need_trans: this.history.need_trans}
                    if (this.history.need_trans) {
                        data.sql = this.history.trans_sql
                    }
                    let res = await this.post(this.history.url, data)
                    this.tableData = res.data.data
                    let obj = this.tableData[0]
                    this.header = Object.keys(obj)
                },
                labelHead(h, {column, index}) { //动态表头渲染
                    //let l = column.label.length;
                    //let f = 12; //每个字大小,其实是每个字的比例值,大概会比字体大小打差不多大
                    //column.minWidth = f * l; //字大小乘个数即长度 ,注意不要加px像素，这里minWidth只是一个比例值，不是真正的长度
                    //然后将列标题放在一个div块中，注意块的宽度一定要100%，否则表格显示不完全
                    return h('span', {class: 'table-head', style: {width: '100%'}}, [column.label])
                },
                post(url, data) {
                    return new axios({
                            method: 'POST',
                            url: url,
                            // params: data,
                            data: data,
                            headers: {
                                Authorization: this.history.token,
                            }
                        }
                    )
                },
                get(data, url) {
                    return new axios({
                            method: 'GET',
                            url: url,
                            params: data,
                            headers: {
                                Authorization: this.history.token,
                            }
                        }
                    )
                },
            },
            created() {
                this.init()
            },
            watch: {
                "history.sql"(oldSql, newSql) {
                    if (this.history.need_trans) {
                        this.trans_sql_func()
                    }
                }
            }
        }
    );
</script>
</body>
<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    #app {
        height: 100vh;
    }

    .span_key {
        display: inline-block;
        width: 6rem;
        color: blue;
        /*border: black solid 1px;*/
    }
</style>
</html>
