<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>录像</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">
    <script src="./vconsole.js"></script>
    <script src="./jessibuca-pro-demo.js"></script>
    <script src="./util.js"></script>
</head>
<body>
<div id="app" style="height: 100vh; display: flex">
    <div id="container" style="width: 70%"></div>
    <el-form ref="form" :model="form" style="width: 30%">
        <el-form-item label="缓冲(秒):" style="width: 30rem">
            <el-input type="number" v-model="videoBuffer" style="width: 5rem" @change="replay"></el-input>
        </el-form-item>
        <el-form-item label="缓存延迟(延迟超过会触发丢帧):" style="width: 30rem">
            <el-input placeholder="单位：秒" type="text" v-model="videoBufferDelay" style="width: 50px"></el-input>
        </el-form-item>
        <el-form-item label="解码(录像流暂只支持SIMD解码):" style="width: 30rem">
            <el-checkbox v-model="useMSE" @change="replay" disable>MediaSource</el-checkbox>
            <el-checkbox v-model="useWCS" @change="replay" disable>webcodecs</el-checkbox>
            <el-checkbox v-model="useWASM" @change="replay" disable>wasm</el-checkbox>
            <el-checkbox v-model="useSIMD" @change="replay" disable>wasm(simd)</el-checkbox>
        </el-form-item>
        <el-form-item label="渲染标签:" style="width: 30rem">
            <el-select v-model="renderDom" onchange="replay">
                <el-option value="video" disabled>video</el-option>
                <el-option value="canvas">canvas(性能更好;录像流暂只支持canvas渲染)</el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="canvas渲染技术(自动降级webgl):" style="width: 30rem">
            <el-select v-model="renderCanvas" onchange="replay">
                <el-option value="webgl">webgl</el-option>
                <el-option value="webgpu" :disabled="!isSupportGpu">webgpu</el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="是否使用离屏模式：" style="width: 30rem">
            <el-select v-model="useOffscreen">
                <el-option label="是（提升渲染能力）" :value="true"></el-option>
                <el-option label="否" :value="false"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="worker解封装(硬解码MSE,WCS):" style="width: 30rem">
            <el-checkbox @click="replay" v-model="demuxUseWorker">使用</el-checkbox>
        </el-form-item>
        <el-form-item label="是否使用硬解码(https支持)：" style="width: 30rem">
            <el-select v-model="playbackUseWCS">
                <el-option label="是" :value="true"></el-option>
                <el-option label="否" :value="false" selected></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="FPS设置:" style="width: 30rem">
            <el-select v-model="isUseFpsRender" style="width: 140px;">
                <el-option label="动态(根据流)" :value="false" selected label=""></el-option>
                <el-option label="定频（本地设置）" :value="true" label=""></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="是否解码前缓冲数据(定频生效):" style="width: 30rem">
            <el-select v-model="isCacheBeforeDecodeForFpsRender">
                <el-option label="是" :value="true"></el-option>
                <el-option label="否" :value="false" selected></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="FPS（定频(本地设置)生效）：" style="width: 30rem">
            <el-input v-model="playbackFps" style="width: 5rem"></el-input>
        </el-form-item>
        <el-form-item label="只解码I帧(点击重播按钮生效):" style="width: 30rem">
            <el-select v-model="onlyDecoderIFrame" id="onlyDecoderIFrame">
                <el-option label="1倍" :value="1"></el-option>
                <el-option label="2倍" :value="2"></el-option>
                <el-option label="4倍" :value="4" selected></el-option>
                <el-option label="8倍" :value="8"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="不断流暂停是否清除缓存数据：" style="width: 30rem">
            <el-select v-model="isPlaybackPauseClearCache" id="isPlaybackPauseClearCache">
                <el-option label="是" :value="true" selected></el-option>
                <el-option label="否" :value="false"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="ui是否使用playbackPause：" style="width: 30rem">
            <el-select v-model="uiUsePlaybackPause">
                <el-option label="是" :value="true"></el-option>
                <el-option label="否" :value="false"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="倍速:" style="width: 30rem">
            <el-select v-model="rate">
                <el-option v-for="item in rateConfig" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="todo:" style="width: 30rem">
            性能参数
            时间戳, 跳转
            倍速播放

            参数--正一
        </el-form-item>
        <el-form-item label="日志:" style="width: 30rem">
            <el-select v-model="debug">
                <el-option label="是" :value="true"></el-option>
                <el-option label="否" :value="false"></el-option>
            </el-select>
            <el-select v-model="debugLevel">
                <el-option value="debug"></el-option>
                <el-option value="warn"></el-option>
            </el-select>
            <el-checkbox v-model="isSupportMSEH264" disabled>操作按钮</el-checkbox>
            <el-checkbox v-model="isSupportMSEH264" disabled>网速</el-checkbox>
            <el-checkbox v-model="isSupportMSEH264" disabled>键盘快捷键</el-checkbox>
            <el-checkbox v-model="isSupportMSEH264" disabled>性能面板</el-checkbox>
            timeout:
            <el-input v-model="timeout" style="width: 6rem"></el-input>
            loadingTimeout:
            <el-input v-model="loadingTimeout" style="width: 6rem"></el-input>
            heartTimeout:
            <el-input v-model="heartTimeout" style="width: 6rem"></el-input>
        </el-form-item>
        <el-form-item label="播放地址:" style="width: 30rem">
            <el-input v-model="playUrl"></el-input>
        </el-form-item>
        <el-button @click="play">播放</el-button>
        <el-button @click="replay">重播</el-button>
        <el-button @click="pause">停止(流会断开)</el-button>
        <el-button @click="playbackPause">停止(流不断开)</el-button>
        <el-button @click="destroy">销毁</el-button>
        <el-button @click="currentTimeScroll">滚动到当前时间</el-button>

        <el-form-item label="时间:" style="width: 30rem">
            <div>{{ playTimesArray }}</div>
        </el-form-item>
        <span>性能：{{ performance }}</span>
        <el-form-item label="浏览器配置：" style="width: 30rem">
            <div>
                <el-checkbox v-model="isSupportMSEH264" disabled>支持MSE H264解码；</el-checkbox>
                <el-checkbox value="false" disabled> 支持MSE H265解码；(会自动切换成wasm解码)</el-checkbox>
                <el-checkbox v-model="isSupportWCS" disabled> 支持Webcodecs H264解码；</el-checkbox>
                <el-checkbox value="false" disabled> 支持Webcodecs H265解码（不一定准确）；</el-checkbox>
                <el-checkbox v-model="isSupportWasm" disabled> 支持WASM解码</el-checkbox>
                <el-checkbox v-model="isSupportSIMD" disabled> 支持WASM SIMD解码;(会自动切换成wasm解码)</el-checkbox>
            </div>
        </el-form-item>
    </el-form>
</div>
<script>
    let t = new Vue(
        {
            el: '#app',
            data() {
                return {
                    form: {},
                    debug: false,
                    debugLevel: 'debug',
                    timeout: 10,
                    loadingTimeout: 10,
                    heartTimeout: 5,

                    playUrl: '',
                    demuxUseWorker: '',
                    showLastIframe: '',
                    renderDom: 'canvas',
                    renderCanvas: 'webgl',

                    isUseFpsRender: false,
                    isCacheBeforeDecodeForFpsRender: true,
                    onlyDecoderIFrame: 4,
                    playbackFps: 25,
                    isPlaybackPauseClearCache: false, // 不断流暂停是否清除缓存数据
                    uiUsePlaybackPause: true,
                    playbackUseWCS: false,
                    playTimesArray: [{"start": 1653840000, "end": 1653841624}],

                    videoBuffer: 0.2,
                    videoBufferDelay: 1,
                    decodeType: '',
                    jessibuca: null,
                    version: '',
                    wasm: false,
                    playing: false,
                    quieting: true,
                    loaded: false, // mute
                    showOperateBtns: true,
                    showBandwidth: false,
                    err: "",
                    speed: 0,
                    performance: "",
                    volume: 1,
                    rotate: 0,

                    useWCS: false,
                    useMSE: false,
                    useWASM: false,
                    useSIMD: true,

                    useOffscreen: false,
                    recording: false,
                    recordType: 'webm',
                    scale: '0',

                    rate: 1,
                    rateConfig: [
                        {label: '正常', value: 1},
                        {label: '2倍', value: 2},
                        {label: '4倍', value: 4},
                        {label: '8倍', value: 8},
                        {label: '16倍', value: 16},
                    ],

                    isSupportMSEH264: checkSupportMSEH264(),
                    isSupportWCS: checkSupportWCS(),
                    isSupportWasm: checkSupportWasm(),
                    isSupportSIMD: checkSupportSIMD(),
                    isSupportGpu: 'gpu' in navigator,

                };
            },
            mounted() {
                this.create();
            },
            unmounted() {
                this.jessibuca.destroy();
            },
            methods: {
                create() {
                    this.jessibuca = new JessibucaPro({
                        // 基础, 调试
                        debug: this.debug,
                        debugLevel: this.debugLevel,
                        container: document.getElementById('container'),
                        videoBuffer: this.videoBuffer, // 缓存时长
                        videoBufferDelay: this.videoBufferDelay, // 1000s
                        // decoder: 'decoder-pro.js', // 1 默认引用的是根目录下面的decoder-pro.js文件 ，decoder-pro.js 与 decoder-pro.wasm文件必须是放在同一个目录下面

                        timeout: 10, //设置超时时长, 单位秒,在连接成功之前(loading)和播放中途(heart),如果超过设定时长无数据返回,则回调timeout事件
                        loadingTimeout: 10,//设置超时时长, 单位秒,在连接成功之前,如果超过设定时长无数据返回,则回调timeout事件
                        loadingTimeoutReplay: true,//loadingTimeout 心跳超时之后自动再播放,不再抛出异常，而直接重新播放视频地址。
                        loadingTimeoutReplayTimes: -1,// loadingTimeoutReplay 重试失败之后，不再重新播放视频地址。如果想无限次重试，可以设置为-1
                        heartTimeout: 5, //设置超时时长, 单位秒,播放中途,如果超过设定时长无数据返回,则回调timeout事件
                        heartTimeoutReplay: true,//heartTimeout 心跳超时之后自动再播放,不再抛出异常，而直接重新播放视频地址。
                        heartTimeoutReplayTimes: -1,//heartTimeoutReplay 重试失败之后，不再重新播放视频地址。是整个生命周期中重试的次数。如果想无限次重试，可以设置为-1
                        heartTimeoutReplayUseLastFrameShow: true,
                        // 性能, 解码,
                        // videoBuffer
                        // decoder
                        useMSE: this.useMSE, //是否开启MediaSource硬解码;视频编码只支持H.264视频（Safari on iOS不支持）; 不支持 forceNoOffscreen 为 false (开启离屏渲染);优先级高于useWCS:true
                        useWCS: this.useWCS, //是否开启Webcodecs硬解码;视频编码只支持H.264视频 (需在chrome 94版本以上，需要https或者localhost环境);支持 forceNoOffscreen 为 false （开启离屏渲染）
                        useWASM: this.useWASM,
                        useSIMD: this.useSIMD,

                        useVideoRender: this.renderDom === 'video',
                        useCanvasRender: this.renderDom === 'canvas',
                        wcsUseVideoRender: false, //webcodecs硬解码是否通过video标签渲染;forceNoOffscreen 设置为false之后（通过OffscreenCanvas渲染之），wcsUseVideoRender不会生效;现在默认 video标签渲染，提升渲染性能。

                        forceNoOffscreen: !this.useOffscreen,//不离渲染, 是否不使用离屏模式（提升渲染能力）
                        useWebGPU: this.renderCanvas === 'webgpu', // 使用WebGPU

                        // demuxUseWorker: this.demuxUseWorker, // work 多线程解封装
                        // audioEngine: "worklet", // 多路 ??

                        isNotMute: false,// 是否开启声音，默认是关闭声音播放的。
                        hasAudio: false, // 是否有音频，如果设置false，则不对音频数据解码，提升性能。
                        playbackForwardMaxRateDecodeIFrame: this.onlyDecoderIFrame,

                        autoWasm: true, //在使用MSE或者Webcodecs 播放H265的时候，是否自动降级到wasm模式。设置为false 则直接关闭播放，抛出Error 异常，设置为true 则会自动切换成wasm模式播放。
                        wasmDecodeErrorReplay: true,//是否开启解码失败重新播放;wasm解码报错之后，不再抛出异常，而是直接重新播放视频地址。
                        // UI 配置
                        isResize: false,//当为true的时候：视频画面做等比缩放后,高或宽对齐canvas区域,画面不被拉伸,但有黑边。 等同于 setScaleMode(1) 当为false的时候：视频画面完全填充canvas区域,画面会被拉伸。等同于 setScaleMode(0)
                        controlAutoHide: true,//只有鼠标聚焦到播放器内部才会显示，移除之后，会消失。
                        text: "text 1111",
                        loadingText: "疯狂加载中...",//加载过程中文案。
                        showBandwidth: this.showBandwidth, // 显示网速
                        showPerformance: this.showOperateBtns, // 显示性能
                        showPlaybackOperate: this.onlyDecoderIFrame,
                        operateBtns: {
                            fullscreen: this.showOperateBtns, //fullscreen 是否显示全屏按钮
                            screenshot: this.showOperateBtns, //是否显示截图按钮
                            play: this.showOperateBtns,//是否显示播放暂停按钮
                            audio: this.showOperateBtns,//是否显示声音按钮
                            record: !1,//record 是否显示录制按钮
                            ptz: !1,
                            quality: !0,
                            zoom: !1,
                            close: !0,
                            scale: !0,
                            performance: !0,
                            logSave: !0,
                            aiFace: !1,
                            aiObject: !1,
                            fullscreenFn: null,
                            fullscreenExitFn: null,
                            screenshotFn: null,
                            playFn: null,
                            pauseFn: null,
                            recordFn: null,
                            recordStopFn: null
                        },
                    });

                    // -----------事件-----------------------
                    let _this = this;
                    let _ts = 0;

                    this.jessibuca.on("play", () => {
                        console.log("listenerEvent", "on play");
                        this.playing = true;
                        this.loaded = true;
                        this.quieting = this.jessibuca.isMute();
                        _this.playing = true;
                    });
                    this.jessibuca.on("pause", function () {
                        console.log("listenerEvent", "on pause");
                        _this.playing = false;
                    });
                    this.jessibuca.on("playbackPreRateChange", function (rate) { //信息，包含错误信息
                        console.log("listenerEvent", 'playbackPreRateChange', rate)
                        this.jessibuca.forward(rate);
                    });
                    this.jessibuca.on('playbackSeek', (data) => {
                        console.log("listenerEvent", 'playbackSeek', data)
                        const currentTime = new Date(1653840000000).setHours(data.hour, data.min, data.second, 0);
                        this.jessibuca.setPlaybackStartTime(currentTime);
                    })
                    this.jessibuca.on("start", function () {
                        console.log("listenerEvent", 'start render')
                        // 如果有截图需求。需要延迟一下，因为代码中无法感应到画面被渲染出来了。
                        // 1s 之后截图
                        // setTimeout(function () {
                        //   this. jessibuca.screenshot('xxx')
                        // }, 1 * 1000)
                    })
                    this.jessibuca.on("load", function () {
                        console.log("listenerEvent", "on load");
                    });
                    this.jessibuca.on("timeout", function (error) {
                        //jessibuca.TIMEOUT.loadingTimeout ; 同loadingTimeout
                        //jessibuca.TIMEOUT.delayTimeout ; 同delayTimeout
                        console.log("listenerEvent", "timeout", error)
                    })
                    this.jessibuca.on("loadingTimeout", function () {
                        console.log("listenerEvent", "loadingTimeout")
                    })
                    this.jessibuca.on("delayTimeout", function () {
                        console.log("listenerEvent", "delayTimeout")
                    })
                    // 信息
                    this.jessibuca.on("buffer", function (buffer) {
                        console.log("listenerEvent", "buffer", buffer);
                    })
                    this.jessibuca.on("timeUpdate", (value) => {
                        console.log("listenerEvent", "timeUpdate", value);
                    })
                    this.jessibuca.on("videoInfo", function (info) {
                        console.log("listenerEvent", "videoInfo", info);
                    });
                    this.jessibuca.on("audioInfo", function (msg) {
                        console.log("listenerEvent", "audioInfo", msg);
                    });
                    this.jessibuca.on("timeUpdate", function (ts) {
                        console.log("listenerEvent", "timeUpdate,old,new,timestamp", _ts, ts, ts - _ts);
                        _ts = ts;
                    });
                    this.jessibuca.on("playToRenderTimes", function (times) { // 监听调用play方法 经过 初始化-> 网络请求-> 解封装 -> 解码 -> 渲染 一系列过程的时间消耗
                        console.log("listenerEvent", "playToRenderTimes is", times)
                    })
                    this.jessibuca.on("stats", function (stats) {
                        // buf: 当前缓冲区时长，单位毫秒,
                        // fps: 当前视频帧率,
                        // abps: 当前音频码率，单位byte,
                        // vbps: 当前视频码率，单位byte，
                        // ts:当前视频帧pts，单位毫秒
                        console.log("listenerEvent", "stats", stats);
                    })
                    // this.jessibuca.on("kBps", function (kBps) {
                    //     console.log("listenerEvent","kBps", kBps);
                    // });
                    // this.jessibuca.on("bps", function (bps) {
                    //     console.log("listenerEvent","bps", bps);
                    // });
                    this.jessibuca.on("performance", function (performance) { //渲染性能统计，流开始播放后回调，每秒1次。0: 表示卡顿;1: 表示流畅;2: 表示非常流程
                        console.log("listenerEvent", "performance", performance)
                        _this.performance = performance;
                    });
                    this.jessibuca.on("log", function (msg) { //信息，包含错误信息
                        console.log("listenerEvent", "on log", msg);
                    });
                    this.jessibuca.on("error", function (error) {
                        // jessibuca.ERROR.playError ;播放错误，url 为空的时候，调用play方法
                        // jessibuca.ERROR.fetchError ;http 请求失败
                        // jessibuca.ERROR.websocketError; websocket 请求失败
                        // jessibuca.ERROR.webcodecsH265NotSupport; webcodecs 解码 h265 失败
                        // jessibuca.ERROR.mediaSourceH265NotSupport; mediaSource 解码 h265 失败
                        // jessibuca.ERROR.wasmDecodeError ; wasm 解码失败
                        console.log("listenerEvent", "error", error);
                    });
                },
                async play() {
                    if (!this.playUrl) {
                        return
                    }
                    if (this.isPlaybackPause) {
                        this.jessibuca.playbackResume()
                        return
                    }
                    this.jessibuca.playback(this.playUrl, {
                        playList: this.playTimesArray, // todo
                        fps: this.playbackFps,
                        showControl: true,
                        isUseFpsRender: this.isUseFpsRender,
                        isCacheBeforeDecodeForFpsRender: this.isCacheBeforeDecodeForFpsRender,
                        showRateBtn: true,
                        supportWheel: true,
                        uiUsePlaybackPause: this.uiUsePlaybackPause,
                        isPlaybackPauseClearCache: this.isPlaybackPauseClearCache,
                        rateConfig: this.rateConfig,
                        useWCS: this.playbackUseWCS,
                    });

                    this.isPlaybackPause = false;
                    //     $player.style.display = 'none';
                    //    $pause.style.display = 'inline-block';
                    //   $playbackPause.style.display = 'inline-block';
                    //   $playScroll.style.display = 'inline-block';
                    //  $destroy.style.display = 'inline-block';
                },
                async replay() {
                    if (this.jessibuca) {
                        await this.jessibuca.destroy()
                    }
                    this.create();
                    setTimeout(() => {
                        this.play();
                    }, 100)
                },
                pause() {
                    // $playbackPause.style.display = 'none';
                    // $pause.style.display = 'none';
                    // $playScroll.style.display = 'none';
                    // $player.style.display = 'inline-block';
                    this.jessibuca.pause();
                },
                playbackPause() {
                    this.jessibuca.playbackPause();
                    this.isPlaybackPause = true;
                },
                destroy() {
                    if (this.jessibuca) {
                        this.jessibuca.destroy();
                    }
                    this.create();
                    this.playing = false;
                    this.loaded = false;
                    this.performance = "";
                },
                currentTimeScroll() {
                    if (this.jessibuca) {
                        this.jessibuca.playbackCurrentTimeScroll();
                    }
                },
            },
        }
    );
</script>
</body>
<style>
    * {
        -webkit-user-select: text;
    }

    #container {
        background: rgba(13, 14, 27, 0.7);
        width: 640px;
        height: 398px;
    }
</style>
</html>
