<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>webRtc</title>

    <script src="../js/vue.2.6.12.js"></script>
    <script src="../js/element-ui.index.js"></script>
    <link href="../css/element.index.css" rel="stylesheet">
    <script src="../js/axios.js"></script>

    <script src="./vconsole.js"></script>
    <script src="./jessibuca-pro-demo.js"></script>
    <script src="./util.js"></script>
    <script src="gb28181.js"></script>
</head>
<body>
<div id="app">
    <div style="width: 70%">
        <div id="container"></div>
        <el-form>
            <span style="color:red;">注意:将zlm的webrtc播放地址，https:// 修改为 webrtc:// 就可以了</span>即:webrtc://127.0.0.1/index/api/webrtc?app=live&stream=test&type=play
            <el-form-item label="播放地址:" style="width: 30rem">
                <el-input v-model="playUrl">
                    <el-dropdown slot="append" split-button @command="getUrl" @click="getUrl(playUrlConfig[0].value)">
                        自动获取
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item v-for="item in playUrlConfig" :key="item.label" :command="item.value">
                                {{item.label}}
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-input>
            </el-form-item>
            <el-button @click="play">播放</el-button>
            <el-button @click="replay">重播</el-button>
            <el-button @click="pause">停止</el-button>
            <el-button @click="destroy">销毁</el-button>
        </el-form>
        <pre>{{JSON.stringify(videoInfo, null, 2)}}</pre>
    </div>
    <el-form style="width: 30%;">
        <el-form-item label="浏览器配置:" style="width: 30rem">
            <div>
                <el-checkbox v-model="isSupportMSEH264" disabled>支持MSE H264解码；</el-checkbox>
                <el-checkbox value="false" disabled> 支持MSE H265解码；(会自动切换成wasm解码)</el-checkbox>
                <el-checkbox v-model="isSupportWCS" disabled> 支持Webcodecs H264解码；</el-checkbox>
                <el-checkbox value="false" disabled> 支持Webcodecs H265解码(不一定准确)；</el-checkbox>
                <el-checkbox v-model="isSupportWasm" disabled> 支持WASM解码</el-checkbox>
                <el-checkbox v-model="isSupportSIMD" disabled> 支持WASM SIMD解码;(会自动切换成wasm解码)</el-checkbox>
            </div>
        </el-form-item>
    </el-form>
</div>
<script>
    let t = new Vue(
        {
            el: '#app',
            data() {
                return {
                    jessiConf: {
                        // 基础, 调试
                        debug: true,
                        debugLevel: 'debug',
                        heartTimeout: 10, //设置超时时长, 单位秒,播放中途,如果超过设定时长无数据返回,则回调timeout事件
                        heartTimeoutReplayUseLastFrameShow: true,
                        audioEngine: "worklet", // 多路 ??
                        isNotMute: false,// 是否开启声音，默认是关闭声音播放的。
                        isResize: false,//当为true的时候:视频画面做等比缩放后,高或宽对齐canvas区域,画面不被拉伸,但有黑边。 等同于 setScaleMode(1) 当为false的时候:视频画面完全填充canvas区域,画面会被拉伸。等同于 setScaleMode(0)
                        text: "text 1111",
                        loadingText: "疯狂加载中...",//加载过程中文案。
                        showBandwidth: true, // 显示网速
                        showPerformance: true, // 显示性能
                        operateBtns: {
                            fullscreen: false, //fullscreen 是否显示全屏按钮
                            screenshot: false, //是否显示截图按钮
                            play: true,//是否显示播放暂停按钮
                            audio: false,//是否显示声音按钮
                            ptz: false,
                            quality: false,
                            performance: false,
                        },
                        // 其他
                        isWebrtcForOthers: false,
                    },

                    jessibuca: null,
                    playUrl: '',
                    videoInfo: {},
                    playUrlConfig: urlList,

                    isSupportMSEH264: checkSupportMSEH264(),
                    isSupportWCS: checkSupportWCS(),
                    isSupportWasm: checkSupportWasm(),
                    isSupportSIMD: checkSupportSIMD(),
                    isSupportGpu: checkSupportGpu(),
                };
            },
            mounted() {
                this.create();
            },
            unmounted() {
                this.jessibuca.destroy();
            },
            methods: {
                create() {
                    this.jessiConf.container = document.getElementById('container');
                    this.jessibuca = new JessibucaPro(this.jessiConf);

                    // -----------事件-----------------------
                    this.jessibuca.on("play", () => {
                        console.log("listenerEvent", "on play");
                    });
                    this.jessibuca.on('streamQualityChange', (value) => {
                        console.log('streamQualityChange', value);
                    })
                    this.jessibuca.on('timeUpdate', (value) => {
                        console.log('timeUpdate', value);
                    })
                    this.jessibuca.on(JessibucaPro.EVENTS.crashLog, (log) => {
                        console.log('crashLog', log)
                    })
                },
                async play() {
                    if (this.playUrl) {
                        this.jessibuca.play(this.playUrl);
                    }
                },
                async replay() {
                    await this.getUrl(); // 自动获取地址
                    if (this.jessibuca) {
                        await this.jessibuca.destroy()
                    }
                    this.create();
                    setTimeout(() => {
                        this.play();
                    }, 100)
                },
                async pause() {
                    this.jessibuca.pause();
                },
                async destroy() {
                    if (this.jessibuca) {
                        this.jessibuca.destroy();
                    }
                    this.create();
                },
                async getUrl(url) {
                    let res = await getGbUrl(url)
                    this.videoInfo = res.data.data
                    this.playUrl = this.videoInfo.rtc.replace("http", "webrtc") // wss_flv, ws_flv, fmp4
                    await this.play();
                },
            },
        }
    );
</script>
</body>
<style>
    * {
        -webkit-user-select: text;
    }

    #app {
        height: 100vh;
        display: flex;
    }

    #container {
        background: rgba(13, 14, 27, 0.7);
        width: 640px;
        height: 398px;
    }
</style>
</html>
