<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>多屏</title>

    <script src="../lib/vue/2.6.12/vue.js"></script>
    <script src="../lib/element-ui/2.15.14/index.js"></script>
    <link href="../lib/element-ui/2.15.14/theme-chalk/index.css" rel="stylesheet">
    <script src="../lib/axios/1.3.5/axios.js"></script>

    <script src="./vconsole.js"></script>
    <script src="./jessibuca-pro-multi-demo.js"></script>
    <script src="./util.js"></script>
    <script src="./gb28181.js"></script>
</head>
<body>
<div id="app">
    <div style="width: 70%">
        <div id="container"></div>
        <el-form>
            <el-form-item label="播放地址:" style="width: 30rem">
                <el-input v-model="playUrl">
                    <el-dropdown slot="append" split-button @command="getUrl" @click="getUrl(playUrlConfig[0].value)">
                        自动获取
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item v-for="item in playUrlConfig" :key="item.label" :command="item.value">
                                {{item.label}}
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-input>
            </el-form-item>
            <el-button @click="play">播放</el-button>
            <el-button @click="replay">重播</el-button>
            <el-button @click="pause">停止</el-button>
            <el-button @click="destroy">销毁(ALL)</el-button>
            <el-button @click="destroySingle">销毁(选中)</el-button>
            <el-button @click="fullscreenMulti">全屏(ALL)</el-button>

            <el-button @click="updateSplit(1)">1*1</el-button>
            <el-button @click="updateSplit(2)">2*2</el-button>
            <el-button @click="updateSplit(3)">3*3</el-button>
            <el-button @click="updateSplit(4)">4*4</el-button>
            <el-button @click="updateSplitSpecial('3-1')">不规则(3-1)</el-button>
            <el-button @click="updateSplitSpecial('4-1')">不规则(4-1)</el-button>
        </el-form>
        <pre>{{JSON.stringify(videoInfo, null, 2)}}</pre>
    </div>
    <el-form style="width: 30%;">
        <el-form-item label="缓存时长(秒):" style="width: 30rem">
            <el-input type="number" v-model="jessiConf.videoBuffer" style="width: 5rem" @change="replay"></el-input>
        </el-form-item>
        <el-form-item label="缓存延迟(延迟超过会触发丢帧)(秒):" style="width: 30rem">
            <el-input type="text" v-model="jessiConf.videoBufferDelay" style="width: 5rem" @change="replay"></el-input>
        </el-form-item>
        <el-form-item label="解码:" style="width: 30rem">
            <el-radio-group v-model="decodeType" @change="replay">
                <el-radio label="useMSE">MediaSource</el-radio>
                <el-radio label="useWCS">webcodecs</el-radio>
                <el-radio label="useSIMD">simd</el-radio>
                <el-radio label="useWASM">wasm</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="浏览器配置:" style="width: 30rem">
            <el-checkbox v-model="isSupportMSEH264" disabled>支持MSE H264解码</el-checkbox>
            <el-checkbox v-model="isSupportMSEH265" disabled>支持MSE H265解码(自动降级wasm解码)</el-checkbox>
            <el-checkbox v-model="isSupportWCS264" disabled>支持Webcodecs H264解码</el-checkbox>
            <el-checkbox v-model="isSupportWCS265" disabled>支持Webcodecs H265解码(自动降级wasm解码)</el-checkbox>
            <el-checkbox v-model="isSupportSIMD" disabled> 支持WASM SIMD解码;(自动降级wasm解码)</el-checkbox>
        </el-form-item>
    </el-form>
</div>
<script>
    let t = new Vue(
        {
            el: '#app',
            data() {
                return {
                    jessiConf: {
                        container: document.getElementById('container'),
                        split: 2,
                        isResize: false,
                        supportDblclickContainerFullscreen: true,
                        isFlv: true,
                        debug: true,
                        useMSE: true,
                        useSIMD: true,
                        debugLevel: "debug",
                        hasAudio: false,
                        showBandwidth: true, // 显示网速
                        showPerformance: true, // 显示性能
                        operateBtns: {
                            fullscreen: true,
                            screenshot: true,
                            play: true,
                            audio: true,
                            record: true,
                            ptz: true,
                            quality: true,
                            performance: true,
                        },
                    },

                    jessibuca: null,
                    playUrl: '',
                    videoInfo: {},
                    decodeType: 'useMSE',
                    playUrlConfig: urlList,
                    windowIndex: 0,

                    isSupportMSEH264: checkSupportMSEH264(),
                    isSupportMSEH265: checkSupportMSEHevc(),
                    isSupportWCS264: checkSupportWCS(),
                    isSupportWCS265: checkSupportWCSHevc(),
                    isSupportSIMD: checkSupportSIMD(),
                    isSupportGpu: checkSupportGpu(),
                };
            },
            mounted() {
                setTimeout(() => {
                    this.create();
                }, 10)
            },
            unmounted() {
                this.jessibuca.destroy();
            },
            methods: {
                create() {
                    this.jessiConf.container = document.getElementById('container');
                    this.jessibuca = new JessibucaProMulti(this.jessiConf);

                    // -----------事件-----------------------
                    this.jessibuca.on(JessibucaProMulti.MULTI_EVENTS.selected, (selectedIndex) => {
                        console.log('selected', selectedIndex);
                    })

                    this.jessibuca.on(JessibucaProMulti.MULTI_EVENTS.dblSelected, (selectedIndex) => {
                        console.log('dblSelected', selectedIndex);
                    })

                    this.jessibuca.on(JessibucaProMulti.MULTI_EVENTS.mouseOver, (selectedIndex) => {
                        console.log('mouseOver', selectedIndex);
                    })

                    this.jessibuca.on(JessibucaProMulti.MULTI_EVENTS.mouseOut, (selectedIndex) => {
                        console.log('mouseOut', selectedIndex);
                    })

                    this.jessibuca.on(JessibucaProMulti.MULTI_EVENTS.mouseUp, (selectedIndex) => {
                        console.log('mouseUp', selectedIndex);
                    })

                    this.jessibuca.on(JessibucaProMulti.EVENTS.stats, (index, stats) => {
                        console.log(`stats-${index}`, stats);
                    })
                },
                async play() {
                    if (this.playUrl) {
                        this.jessibuca.play(this.playUrl);
                    }
                },
                async replay() {
                    if (this.jessibuca) {
                        await this.jessibuca.destroy()
                    }
                    this.create();
                    await this.play();
                },
                async pause() {
                    if (this.jessibuca) {
                        this.jessibuca.pause();
                    }
                },
                async destroy() {
                    if (this.jessibuca) {
                        this.jessibuca.destroy();
                        this.jessibuca = null;
                    }
                    this.create();
                },
                destroySingle() {
                    if (this.jessibuca) {
                        this.jessibuca.destroySingle();
                    }
                },
                fullscreenMulti() {
                    if (this.jessibuca) {
                        this.jessibuca.setFullscreenMulti(true);
                    }
                },
                updateSplit(split) {
                    if (this.jessibuca) {
                        split = Number(split);
                        this.jessibuca.arrangeWindow(split);
                    }
                },
                updateSplitSpecial(type) {
                    if (this.jessibuca) {
                        this.jessibuca.arrangeWindow(type);
                    }
                },
                async getUrl(url) {
                    let res = await getGbUrl(url)
                    this.videoInfo = res.data.data
                    this.playUrl = this.videoInfo.ws_flv // wss_flv, ws_flv, fmp4
                    await this.play();
                },
            },
            watch: {
                decodeType(newVal, oldVal) {
                    this.jessiConf.useMSE = newVal === 'useMSE';
                    this.jessiConf.useWCS = newVal === 'useWCS';
                    this.jessiConf.useSIMD = newVal === 'useSIMD';
                    this.jessiConf.useWASM = newVal === 'useWASM';
                },
            },
        }
    );
</script>
</body>
<style>
    * {
        -webkit-user-select: text;
    }

    #app {
        height: 100vh;
        display: flex;
    }

    #container {
        background: rgba(13, 14, 27, 0.7);
        width: 960px;
        height: 600px;
    }
</style>
</html>
