<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>录像</title>
    <script src="./vconsole.js"></script>
    <script src="./jessibuca-pro-demo.js"></script>
    <script src="./util.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
</head>
<body>
<div id="app" style="height: 100vh; display: flex">
    <div id="container" style="width: 50%"></div>
    <el-form ref="form" :model="form" style="width: 50%">
        <span style="color:red;">注意：将zlm的webrtc播放地址，https:// 修改为 webrtc:// 就可以了</span>即：webrtc://127.0.0.1/index/api/webrtc?app=live&stream=test&type=play
        <el-form-item label="播放地址:" style="width: 30rem">
            <el-input v-model="playUrl"></el-input>
        </el-form-item>
        <el-button @click="play">播放</el-button>
        <el-button @click="pause">停止</el-button>
        <el-button @click="destroy">销毁</el-button>
        <el-form-item label="浏览器配置：" style="width: 30rem">
            <div>
                <el-checkbox v-model="isSupportMSEH264" disabled>支持MSE H264解码；</el-checkbox>
                <el-checkbox value="false" disabled> 支持MSE H265解码；(会自动切换成wasm解码)</el-checkbox>
                <el-checkbox v-model="isSupportWCS" disabled> 支持Webcodecs H264解码；</el-checkbox>
                <el-checkbox value="false" disabled> 支持Webcodecs H265解码（不一定准确）；</el-checkbox>
                <el-checkbox v-model="isSupportWasm" disabled> 支持WASM解码</el-checkbox>
                <el-checkbox v-model="isSupportSIMD" disabled> 支持WASM SIMD解码;(会自动切换成wasm解码)</el-checkbox>
            </div>
        </el-form-item>
    </el-form>
</div>
<script>
    let t = new Vue(
        {
            el: '#app',
            data() {
                return {
                    form: {},
                    playUrl: '',
                    demuxUseWorker: '',
                    showLastIframe: '',
                    renderDom: '',
                    renderCanvas: '',

                    isUseFpsRender: false,
                    isCacheBeforeDecodeForFpsRender: true,
                    onlyDecoderIFrame: 4,
                    playbackFps: 25,
                    isPlaybackPauseClearCache: true,
                    uiUsePlaybackPause: '',
                    useWebGPU: '',
                    playbackUseWCS: false,
                    playTimesArray: [],

                    videoBuffer: 0.2,
                    videoBufferDelay: 1,
                    decodeType: '',
                    jessibuca: null,
                    version: '',
                    wasm: false,
                    vc: "ff",
                    playing: false,
                    quieting: true,
                    loaded: false, // mute
                    showOperateBtns: false,
                    showBandwidth: false,
                    err: "",
                    speed: 0,
                    performance: "",
                    volume: 1,
                    rotate: 0,

                    useWCS: false,
                    useMSE: true,
                    useWASM: false,
                    useSIMD: false,

                    useOffscreen: false,
                    recording: false,
                    recordType: 'webm',
                    scale: '0',

                    isSupportMSEH264: checkSupportMSEH264(),
                    isSupportWCS: checkSupportWCS(),
                    isSupportWasm: checkSupportWasm(),
                    isSupportSIMD: checkSupportSIMD(),
                };
            },
            mounted() {
                this.create();
                window.onerror = (msg) => (this.err = msg);
            },
            unmounted() {
                this.jessibuca.destroy();
            },
            methods: {
                create() {
                    this.jessibuca = new JessibucaPro({
                        // 基础, 调试
                        debug: true,
                        debugLevel: 'debug',
                        container: document.getElementById('container'),
                        isResize: false,
                        text: "",
                        loadingText: "加载中",
                        showBandwidth: true, // 显示网速
                        showPerformance: this.showOperateBtns, // 显示性能
                        operateBtns: {
                            fullscreen: this.showOperateBtns,
                            screenshot: this.showOperateBtns,
                            play: this.showOperateBtns,
                            audio: this.showOperateBtns,
                            ptz: this.showOperateBtns,
                            quality: this.showOperateBtns,
                            performance: this.showOperateBtns,
                        },
                        heartTimeoutReplayUseLastFrameShow: true,
                        audioEngine: "worklet",
                        isNotMute: false,
                        heartTimeout: 10,
                        isWebrtcForOthers: this.isForOthers,
                    },);


                    this.jessibuca.on('streamQualityChange', (value) => {
                        console.log('streamQualityChange', value);
                    })

                    this.jessibuca.on('timeUpdate', (value) => {
                        console.log('timeUpdate', value);
                    })

                    this.jessibuca.on(JessibucaPro.EVENTS.crashLog, (log) => {
                        console.log('crashLog', log)
                    })
                    //  $player.style.display = 'inline-block';
                    // $pause.style.display = 'none';
                    //  $destroy.style.display = 'none';
                },
                play() {
                    if (this.playUrl) {
                        this.jessibuca.play(this.playUrl);
                    }
                },
                replay() {
                    if (this.jessibuca) {
                        this.jessibuca.destroy();
                    }
                    this.create();
                    this.play();
                },
                pause() {
                    // $playbackPause.style.display = 'none';
                    // $pause.style.display = 'none';
                    // $playScroll.style.display = 'none';
                    // $player.style.display = 'inline-block';
                    this.jessibuca.pause();
                },
                destroy() {
                    if (this.jessibuca) {
                        this.jessibuca.destroy();
                    }
                    this.create();
                },
            },
        }
    );
</script>
</body>
<style>
    * {
        -webkit-user-select: text;
    }

    #container {
        background: rgba(13, 14, 27, 0.7);
        width: 640px;
        height: 398px;
    }
</style>
</html>
